/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background: #f5f6fa;
  padding-top: 50px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

h1.display-4 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.custom-blockquote,
.coach-blockquote {
  border-left: 6px solid #ddd;
  border-radius: 3px;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  background: #fff;
}

.coach-blockquote {
  background: #fff9db;
}

.question-text {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.font-weight-bold {
  font-weight: bold;
}

.blockquote-footer {
  color: #888 !important;
  font-style: italic;
  margin-top: 5px;
  font-size: 1rem;
}
